/* Common */
@keyframes xfire {
  50% { background-position: 0 -150px; }
}
@keyframes wooop {
  0%, 100% { transform: scale(.01); }
  50% { transform: scale(3); }
}

body { background: #111; overflow: hidden;perspective: 800px; }
#v { width:800px;height:600px;overflow:hidden;margin:auto;position: relative; perspective: 800px;transform-style:preserve-3d; transition: transform .4s, background 1s; }

/* intro */
#s { width: 100%; height: 100%}
#head { position: absolute; top: 0; left: 0; width: 99px; height: 99px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 99A20 19 0 0 1 30 80L20 40L13 34L23 38L20 31L27 36L28 28L31 36L33 25L36 34L40 27L42 34L47 25L47 33L56 23L52 33L61 28L56 37L68 30L62 38L55 80A23 19 0 0 1 80 99Z' fill='%23000000'/%3E%3C/svg%3E"); transform: translateX(200px) translateY(700px) scale(4) rotate(45deg); transition: all .5s;}
#dialog { position: absolute; top: 0; left: 0; color: #fff; font: 40px calibri, arial; width: 350px; transform: translateX(350px) translateY(450px); }
#dialog2 { position: absolute; top: 30px; left: -50px; color: #f00; font: bold 35px monospace; width: 400px; text-align: center;}


#devil { position: absolute; top: 0; left: 0; width: 99px; height: 99px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 99Q4 64 30 60Q18 50 25 35Q14 26 27 15Q21 25 31 32Q39 25 50 32Q58 22 50 16Q65 18 56 35Q64 51 50 61Q81 61 91 99Z' fill='%23ff0000'/%3E%3C/svg%3E"); opacity: .01}

#angel {
  position: absolute; left: 0; width: 99px; height: 99px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 99Q24 93 35 69Q27 70 29 65Q21 63 24 59Q15 58 19 54Q8 55 11 50Q2 47 6 42Q0 35 6 32Q15 45 31 46A10 12 0 0 1 60 46Q79 48 89 31Q97 28 95 35Q96 42 91 40Q94 49 90 47Q91 56 84 55Q82 63 77 61Q74 69 69 66Q70 71 63 70Q70 96 87 99Z' fill='%23ffffff'/%3E%3Cpath d='M28 24A18 7 0 1 1 28 25ZM31 25A15 5 0 1 0 31 24Z' fill='%23ffffff'/%3E%3C/svg%3E"); opacity: .05; transform: scale(6);top:200px;
}

h1 { opacity: 0; position: absolute; top: 0; left: 0; color: #fff; text-align: center; font: 30px arial; margin: 0; padding: 250px 0 0; background: #000; width: 100%; height: 100%; text-shadow: 0 0 30px #fff, 0 0 10px #fff }
#light { background: #fff; }
#hero { position: absolute; top: 0; left: 0; width: 99px; height: 99px; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 15L6 11L9 13L8 10L11 13L12 9L13 13L15 9L15 13L17 10L17 13L19 10L18 15L17 25A4 4 0 0 1 22 30L17 32L17 44A2 2 0 0 1 8 44L8 32L3 28A7 9 0 0 1 9 25Z' fill='%23000000'/%3E%3Cpath d='M22 29L22 46A1 1 0 0 1 17 46L17 25Z' fill='%23000000'/%3E%3Cpath d='M3 28L3 47A1 1 0 1 0 8 47L8 25Z' fill='%23000000'/%3E%3Cpath d='M12 45L12 71A2 1 0 1 0 17 71L17 43Z' fill='%23000000'/%3E%3Cpath d='M9 44L9 70A2 2 0 1 0 14 70L14 45Z' fill='%23000000'/%3E%3C/svg%3E"); display: none}
#woop { width: 200px; height: 200px; background: radial-gradient(#000, #0000 50%); opacity: 0; position: absolute; left: 340px; top: 380px; }
canvas { position: absolute; top: 0; left: 0; box-shadow: 0 0 0 500px #000;}
#start, .outro #exit { width: 150px; height: 150px; border-radius: 50%; background: radial-gradient(#AAF, #0000 75%); position: absolute; opacity: .5; transition: all .5s; transform-origin: center center; transform: scale(1); }
#exit, .outro #start { width: 150px; height: 150px; border-radius: 50%; background: radial-gradient(#000, #0000 75%); position: absolute; opacity: .5; transition: all .5s; transform-origin: center center; transform: scale(.2); }

/* menu */
#v.title { background: linear-gradient(#300,#a00); background-size: 200% 200%; animation: fire infinite 2s; color: #fff; text-align: center; font-family: Arial, sans-serif; }
#v.title h1 { display: block; opacity: 1; position: static; height: auto; background: none; font-size: 100px; padding: 50px 0 0; text-shadow: 0 0 30px #fff, 0 0 10px #fff }
#v.title h2 { display: block; opacity: 1; position: static; height: auto; background: none; font-size: 40px; padding: 0 0 0; cursor: pointer; }
#v.title h2.disabled { opacity: .5; }
#v.title h2 div { font-size: 20px; }

/* play */
#dialog3 { position: absolute; top: 20px; left: calc(50% - 350px); color: #fff; font: 30px calibri, arial; width: 700px; line-height:1.1; text-shadow: 0 0 10px #000; }
#timerdiv { position: absolute; top: 10px; left: calc(50% - 380px); color: #fff; font: 50px calibri, arial; text-shadow: 0 0 3px #fff; }